# virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# test / tooling
.pytest_cache/
.ruff_cache/

# environment files
.env

# local database
database/*.db
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# build artifacts
dist/
build/
*.egg-info/