{% extends "base.html" %}

{% block title %}Home - Recipe Collection{% endblock %}

{% block content %}
    <p>Select an action:</p>

    <ul>
        <li><a href="{{ url_for('new_base_food') }}">New Base Food</a></li>
        <li><a href="{{ url_for('new_recipe') }}">New Recipe</a></li>
        <li><a href="{{ url_for('new_menu') }}">New Menu</a></li>
        <li><a href="{{ url_for('live_collection') }}">Live Collection</a></li>
        <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
    </ul>
{% endblock %}
